<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responsive Layout</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
		
	<header class="header">
		<div class="container flex-container">
			
 			<div class="header_logo logo"></div>

			<nav class="header_nav">
				<ul class="unstyled-list">
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Pricing</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>

			<div class="header_nav_toggle">
				<div class="hamburger"></div>
			</div>

		</div>
	</header>

<!-- Hero area -->

	<section class="hero">
		<div class="container flex-container">

			<div class="hero_text col--two-thirds">
				<h1 class="title-large"><span>Take your app to the </span> next level</h1>
				<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cupiditate distinctio quaerat saepe dolorem tenetur doloribus, ad deleniti culpa pariatur consequatur, necessitatibus adipisci asperiores veniam?</p>
				<a href="" class="btn btn--secondary">Learn More</a>
				<a href="" class="btn btn--primary">Get The App</a>
			</div>

			<div class="hero_img col--one-third sm-hidden">
				<img src="img/phone.png" alt="cellphone" class="hero-img hide">
			</div>

		</div>
	</section>

<!-- Sales points -->
	
	<section class="points">
		<div class="container flex-container--vert">

			<h1 class="points_title">Promote Your App</h1>
			
			<div class="points_graphic-block_grid flex-container">
				<div class="points_graphic-block col--one-third">
					<img src="img/sales-responsive.png" alt="monitors">
					<h2>Responsive Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae ullam eveniet cupiditate minima natus dolor ea ex autem maxime!</p>
				</div>

				<div class="points_graphic-block col--one-third">
					<img src="img/sales-hand.png" alt="pointer finger">
					<h2>Easy To Set Up</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nesciunt, aliquid quo sint provident voluptas sed aut odit ipsa tempora!</p>
				</div>

				<div class="points_graphic-block col--one-third">
					<img src="img/sales-graph.png" alt="sales graph">
					<h2>Great Results</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugiat, dignissimos soluta repellendus blanditiis pariatur cum dolores unde nisi placeat.</p>
				</div>
			</div>


		</div>
	</section>

<!-- promo section -->

	<section class='promo'>
		<div class="flex-container--vert">

			<div class="promo_offset-title">
				<h1>THIS APP IS AMAZING</h1>
				<p>It does everything you didn't know an app needed to do.</p>
			</div>
			
			<div class="promo--bg-main flex-container">
				
				<div class="promo_text bg-main col--half">
					<div class="promo_text--contained">
						<h1>Lorem ipsum dolor sit amet, consectetur.</h1>
						<h2>Lorem ipsum dolor.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae necessitatibus voluptatibus nam reprehenderit unde doloribus a voluptatum inventore consequuntur similique.</p>
						<a href="" class="btn btn--primary">Get the App</a>
					</div>
				</div>
				
				<div class="promo_img sm-hidden col--half">
					<img class="img-fit" src="img/phone-in-hand.jpg" alt="a phone held in a hand" />
				</div>
				
			</div>

		</div>
	</section>

<!-- Call to Action -->
	
	<section class="cta flex-container">
		
		<div class="cta_text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, esse!</p>
			<h1 class='title-large'>Lorem ipsum dolor sit amet.</h1>
			<a class='btn btn--primary' href="">Get the app</a>
		</div>

	</section>

<!-- Footer -->

	<footer class="footer">
		<div class="logo footer_logo"></div>
		<div class="container--narrow flex-container--vert">
			
			<p class="footer_title">Take your app to the next level</p>

			<ul class="footer_social-links unstyled-list">
				<li><a href=""></a><i class="fab fa-twitter-square"></i></li>
				<li><a href=""></a><i class="fab fa-facebook-square"></i></li>
				<li><a href=""></a><i class="fab fa-instagram"></i></li>
				<li><a href=""></a><i class="fab fa-youtube-square"></i></li>
			</ul>

			<ul class="footer_nav unstyled-list">
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Pricing</a></li>
				<li><a href="">Contact</a></li>
			</ul>

		</div>
	</footer>

</body>
</html>