<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responsive Layout</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	<header class="main-header">
		<div class="container grid">
			
 			<div class="logo logo--header"></div>

			<nav class="main-nav">
				<ul class="unstyled-list">
					<li class="grid"><a href="">Home</a></li>
					<li class="grid"><a href="">About</a></li>
					<li class="grid"><a href="">Blog</a></li>
					<li class="grid"><a href="">Pricing</a></li>
					<li class="grid"><a href="">Contact</a></li>
				</ul>
			</nav>

			<div class="nav-toggle">
				<div class="hamburger"></div>
			</div>

		</div>
	</header>

<!-- Hero area -->

	<section class="hero">
		<div class="container grid">

			<div class="hero-text col">
				<h1 class="title-large"><span>Take your app to the </span> next level</h1>
				<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cupiditate distinctio quaerat saepe dolorem tenetur doloribus, ad deleniti culpa pariatur consequatur, necessitatibus adipisci asperiores veniam?</p>
				<a href="" class="btn btn--secondary">Learn More</a>
				<a href="" class="btn btn--primary">Get The App</a>
			</div>

			<div class="col">
				<img src="img/phone.png" alt="cellphone" class="hero-img hide">
			</div>

		</div>
	</section>

<!-- Sales points -->
	
	<section class="sales-points">
		<div class="container grid">

			<h1 class="col--full">Promote Your App</h1>

			<div class="sales-point col">
				<img src="img/sales-responsive.png" alt="monitors">
				<h2>Responsive Design</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae ullam eveniet cupiditate minima natus dolor ea ex autem maxime!</p>
			</div>

			<div class="sales-point col">
				<img src="img/sales-hand.png" alt="pointer finger">
				<h2>Easy To Set Up</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nesciunt, aliquid quo sint provident voluptas sed aut odit ipsa tempora!</p>
			</div>

			<div class="sales-point col">
				<img src="img/sales-graph.png" alt="sales graph">
				<h2>Great Results</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugiat, dignissimos soluta repellendus blanditiis pariatur cum dolores unde nisi placeat.</p>
			</div>

		</div>
	</section>

<!-- promo section -->

	<section class='promo'>
		<div class="grid">

			<div class="title-box">
				<h1>THIS APP IS AMAZING</h1>
				<p>It does everything you didn't know an app needed to do.</p>
			</div>
			
			<div class="col bg-main">
				<h1>Lorem ipsum dolor sit amet, consectetur.</h1>
				<h2>Lorem ipsum dolor.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae necessitatibus voluptatibus nam reprehenderit unde doloribus a voluptatum inventore consequuntur similique.</p>
				<a href="" class="btn btn--primary">Get the App</a>
			</div>
			
			<div class="col hide">
				<img src="img/phone-in-hand.jpg" alt="a phone held in a hand">
			</div>

		</div>
	</section>

<!-- Call to Action -->
	
	<section class="cta">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, esse!</p>
		<h1 class='title-large'>Lorem ipsum dolor sit amet.</h1>
		<a class='btn btn--primary' href="">Get the app</a>

	</section>

<!-- Footer -->

	<footer class="footer">
		<div class="logo logo--footer"></div>
		<div class="container">
			
			<p class="title-footer">Take your app to the next level</p>

			<ul class="unstyled-list social-links">
				<li><a href=""></a><i class="fab fa-twitter-square"></i></li>
				<li><a href=""></a><i class="fab fa-facebook-square"></i></li>
				<li><a href=""></a><i class="fab fa-instagram"></i></li>
				<li><a href=""></a><i class="fab fa-youtube-square"></i></li>
			</ul>

			<ul class="unstyled-list nav-footer">
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Pricing</a></li>
				<li><a href="">Contact</a></li>
			</ul>

		</div>
	</footer>

</body>
</html>