
svg {
	margin: 0 auto;
	max-width: 1000px;
}

.logo {
	fill: $white;
}

.header_logo {
	width: 25%;
	min-width: 10rem;
	max-width: 15rem;
}

.footer_logo {
	position: absolute;
	width: 100%;
	overflow: hidden;
	opacity: .05;

	@media (min-width: 725px) {
		bottom: 1px;
	}	
}



