.points {
	padding: 10vw 0 0;

	@media (max-width: 725px) {
		padding-top: 72px;
	}
}

.points_graphic-block_grid {
	padding: 2em 0;
}

.points_graphic-block {
	padding: 0 2em 1em;
	min-width: 300px;

	@media (min-width: 725px) {
		&:first-of-type {
			margin-top: 0;
		}
	}
}

@media (min-width: 725px) {
	.points_graphic-block {

		&:first-of-type {
			margin-top: 0;
		}

	}
}