.header_nav {
	background-color: $accent;
	position: absolute;
	top: 0;
	right: 0;
	left: 100%;
	font-size: 1.2rem;
	overflow: hidden;
	transition: left 250ms ease-in-out;

	ul {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	li {
		flex: auto;
		display: flex;
		border-bottom: 1px solid rgba(0, 0, 0, .15);
	}

	a {
		flex: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $text-inverse;
		text-decoration: none;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&.is-open {
		left: 0;
	}

	@media (min-width: 725px) {
		position: static;
		background-color: initial;
		flex: auto;

		ul {
			flex-direction: row;
			height: 100%;
			width: 100%;
			justify-content: space-around;
		}

		li {
			border-bottom: none;
		}

		a:hover {
			background-color: initial;
			color: $dark;
		}
	}
}

.header_nav_toggle {
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
	box-shadow: 1px 1px 3px .5px gray;

	@media (min-width: 725px) {
		display: none;
	}
}

%hamburger-shared {
	display: block;
	content: '';
	width: 2em;
	height: 3px;
	background-color: $white;
	transition: all 250ms linear;
}

.hamburger {
	@extend %hamburger-shared;

	&.is-open {
		transform: rotate(45deg);

		&::before {
			opacity: 0;
		}

		&::after {
			transform: rotate(-90deg) translateX(3px);
		}
	}

	&::before {
		@extend %hamburger-shared;

		transform: translateY(-6px);
	}

	&::after {
		@extend %hamburger-shared;

		transform: translateY(3px); 
	}
}

